:root {
    --metalpink:  linear-gradient(top, #DDA6AE, #FFE6E9 25%, #ffffff 38%, #FFE6E9 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    --pink: #DDA6AE;
    --neonpurp: #B026FF;
    --purpB: #e6e6fa;
    --pastelpink: #ffd1dc;
    --yellow: #FFFF00;
}

body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    /*background: transparent;*/
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/*Button number one: Metallic pink, background is transparent when hovered but pink border remains*/
.btn-1 {
    border-color: var(--pink);
    background: var(--metalpink);
    background: -webkit-linear-gradient(top,  #DDA6AE, #FFE6E9 25%, #ffefef 38%, #D9A3A9  63%, #FFE6E9 87%, #DDA6AE);
    color: grey;
}

.btn-1:hover{
    border: var(--pastelpink) 0.2em solid;
    background: var(--pink);
    color: var(--pastelpink);
    position: relative;
}


/*Button two with purple colour that changs to yellow when hovered over*/
.btn-2 {
    border: var(--yellow) 0.2em solid;
    background: var(--neonpurp);
    color: var(--yellow);
    border-radius: 0.5em;
    text-shadow: 0 0 0.2em var(--yellow), 0 0 0.5em 0 var(--yellow);
    box-shadow: inset 0 0 0.5em 0 var(--neonpurp), 0 0 0.5em 0 var(--neonpurp);
    position: relative; 
}

.btn-2:hover {
    background: transparent;
    text-shadow: 0 0 0.5em var(--yellow), 0 0 0.8em 0 var(--yellow);
    box-shadow: inset 0 0 0.9em 0 var(--yellow), 0 0 0.9em 0 var(--yellow);
    position: relative; 
}

/* Button three with a blue orange gradient and spins when hovered over*/
.btn-3 {
    border: none;
    background: #1f1ff9;
    background-image: linear-gradient(315deg, #1f1ff9 0%, #fe7621 90%);
}

.btn-3:hover {
    font-weight: bolder;
    transform: rotate(360deg);
    transition: all 3s linear both;
}